In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


def read_data(filename):
    df = pd.read_csv(filename, encoding='utf-8', sep=',')
    return df

def calc_param(df):        
    tempc = df['TempC']
    tempk = tempc + 273.15
    pressure = df['Pbar']
    buffer_mineral = df['fO2']
    delta_redox = df['fO2delta']
    return tempc, tempk, pressure, buffer_mineral, delta_redox


def calc_wt(df):
    wt_liq_si = df['SiO2']
    wt_liq_ti = df['TiO2']
    wt_liq_al = df['Al2O3']
    wt_liq_fe = df['FeO']
    wt_liq_mn = df['MnO']
    wt_liq_mg = df['MgO']
    wt_liq_ca = df['CaO']
    wt_liq_na = df['Na2O']
    wt_liq_k  = df['K2O']
    wt_total = wt_liq_si + wt_liq_ti + wt_liq_al + wt_liq_fe + wt_liq_mn + wt_liq_mg + wt_liq_ca + wt_liq_na + wt_liq_k
    return wt_total, wt_liq_si, wt_liq_ti, wt_liq_al, wt_liq_fe, wt_liq_mn, wt_liq_mg, wt_liq_ca, wt_liq_na, wt_liq_k


def read_melt_data(data_melt):
    df = pd.read_csv(data_melt, encoding='utf-8', sep=',')
    
    pressure = df['Pbar']
    water = df['H2O']
    
    # calculate cation proportions
    mol_liq_si = df['SiO2'] / 60.0843
    mol_liq_ti = df['TiO2'] / 79.866
    mol_liq_al = 2 * df['Al2O3'] / 101.9613
    mol_liq_fe = df['FeO'] / 71.8464
    mol_liq_mn = df['MnO'] / 70.9374
    mol_liq_mg = df['MgO'] / 40.304
    mol_liq_ca = df['CaO'] / 56.077
    mol_liq_na = 2 * df['Na2O'] / 61.9789
    mol_liq_k  = 2 * df['K2O']  / 94.195
    mol_liq_sum = mol_liq_si + mol_liq_ti + mol_liq_al + mol_liq_fe + mol_liq_mn + mol_liq_mg + mol_liq_ca + mol_liq_na + mol_liq_k
    
    # Calculate cation fractions
    x_liq_si = mol_liq_si / mol_liq_sum
    x_liq_ti = mol_liq_ti / mol_liq_sum
    x_liq_al = mol_liq_al / mol_liq_sum
    x_liq_fe = mol_liq_fe / mol_liq_sum
    x_liq_mn = mol_liq_mn / mol_liq_sum
    x_liq_mg = mol_liq_mg / mol_liq_sum
    x_liq_ca = mol_liq_ca / mol_liq_sum
    x_liq_na = mol_liq_na / mol_liq_sum
    x_liq_k  = mol_liq_k  / mol_liq_sum
    return pressure, water, x_liq_si, x_liq_ti, x_liq_al, x_liq_fe, x_liq_mn, x_liq_mg, x_liq_ca, x_liq_na, x_liq_k


def read_olv_data(data_olv):
    df = pd.read_csv(data_olv, encoding='utf-8', sep=',')
    # calculate cation proportions
    mol_olv_si = df['SiO2'] / 60.0843
    mol_olv_ti = df['TiO2'] / 79.866
    mol_olv_al = 2 * df['Al2O3'] / 101.9613
    mol_olv_fe = df['FeO'] / 71.8464
    mol_olv_mn = df['MnO'] / 70.9374
    mol_olv_mg = df['MgO'] / 40.304
    mol_olv_ca = df['CaO'] / 56.077
    mol_olv_na = 2 * df['Na2O'] / 61.9789
    mol_olv_k  = 2 * df['K2O']  / 94.195
    mol_olv_cr = 2 * df['Cr2O3'] / 151.99
    mol_olv_ni = df['NiO'] / 74.6928
    mol_olv_sum = mol_olv_si + mol_olv_ti + mol_olv_al + mol_olv_fe + mol_olv_mn + mol_olv_mg \
    + mol_olv_ca + mol_olv_na + mol_olv_k + mol_olv_cr + mol_olv_ni
    
    # Calculate cation fractions
    x_olv_fe = mol_olv_fe / mol_olv_sum
    x_olv_mg = mol_olv_mg / mol_olv_sum
    return x_olv_mg

# composition is cation fraction
def calctherm(pressure, water, x_olv_mg, x_liq_si, x_liq_ti, x_liq_al, x_liq_fe, x_liq_mn, x_liq_mg, x_liq_ca, x_liq_na):
    pressure_gpa = 0.0001 * pressure
    d_mg = x_olv_mg / x_liq_mg
    
    c_si = x_liq_si
    c_nm = x_liq_mg + x_liq_fe + x_liq_ca + x_liq_mn
    nf = 3.5 * np.log( 1 - x_liq_al ) + 7 * np.log( 1 - x_liq_ti )
    
    tempc = ( 15294.6 + 1318.8 * pressure_gpa + 2.484 * pressure_gpa**2 ) \
    / ( 8.048 + 2.8532 * np.log(d_mg) + 2.097 * np.log(1.5 * c_nm) + 2.575 * np.log(3 * c_si) \
    - 1.41 * nf + 0.222 * water + 0.5 * pressure_gpa )
    return tempc

def calc_hygro(wt_olv_ca, wt_liq_mg, wt_liq_ca):
    # Calcium-in-Olivine hygrometer by Gavrilenko et al. (2016) J.Petrol.
    d_ca = wt_olv_ca / wt_liq_ca
    threshold = 0.00462 * wt_liq_mg - 0.027
    if d_ca > threshold:
        water = 188 * ( - 0.0043 * wt_liq_mg + 0.072 - d_ca )
    else:
        water = 397 * ( 0.00042 * wt_liq_mg + 0.016 - d_ca )

def main():
    data_melt = 'input.csv'
    data_olv = 'input_olv.csv'
    pressure, water, x_liq_si, x_liq_ti, x_liq_al, x_liq_fe, x_liq_mn, x_liq_mg, x_liq_ca, x_liq_na, x_liq_k = read_melt_data(data_melt)
    x_olv_mg = read_olv_data(data_olv)
    tempc = calctherm(pressure, water, x_olv_mg, x_liq_si, x_liq_ti, x_liq_al, x_liq_fe, x_liq_mn, x_liq_mg, x_liq_ca, x_liq_na)
    tempc.to_csv('result_therm.csv')
    print('TempC \n'+str(tempc))

    
if __name__ == "__main__":
    main()

TempC
0     1529.052199
1     1512.552006
2     1496.404123
3     1480.597384
4     1465.121093
5     1449.964994
6     1435.119253
7     1420.574432
8     1406.321475
9     1392.351682
10    1378.656700
11    1365.228498
12    1352.059356
13    1339.141848
14    1326.468831
15    1314.033428
16    1301.829020
17    1289.849227
18    1278.087907
19    1266.539138
20    1255.197207
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27            NaN
28            NaN
29            NaN
30            NaN
31            NaN
32            NaN
33            NaN
34            NaN
35            NaN
36            NaN
37            NaN
38            NaN
39            NaN
40            NaN
41            NaN
42            NaN
43            NaN
44            NaN
45            NaN
46            NaN
47            NaN
48            NaN
49            NaN
50            NaN
dtype: float64

In [9]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


def read_data(filename):
    df = pd.read_csv(filename, encoding='utf-8', sep=',')
    return df

def calc_param(df):        
    tempc = df['TempC']
    tempk = tempc + 273.15
    pressure = df['Pbar']
    buffer_mineral = df['fO2']
    delta_redox = df['fO2delta']
    return tempc, tempk, pressure, buffer_mineral, delta_redox


def select_element(df):
    elements = [ 'SiO2', 'TiO2', 'Al2O3', 'FeO', 'MnO', 'MgO', 'CaO', 'Na2O', 'K2O', 'P2O5', 'Cr2O3', 'NiO' ]
    names = [ 'si', 'ti', 'al', 'fe', 'mn', 'mg', 'ca', 'na', 'k', 'p', 'cr', 'ni' ]
    wt = []
    for i, element in enumerate(elements):
        try:
            wt_name = 'wt_liq_' + names[i]
            wt_name = df[element]
            wt.append(wt_name)
        except KeyError:
            pass
    return wt


def main():
    data_melt = 'input.csv'
    df = read_data(data_melt)
    wt = select_element(df)
    
    
    print(wt)
    

    
if __name__ == "__main__":
    main()

[0     48.0
1     48.0
2     48.0
3     48.0
4     48.0
5     48.0
6     48.0
7     48.0
8     48.0
9     48.0
10    48.0
11    48.0
12    48.0
13    48.0
14    48.0
15    48.0
16    48.0
17    48.0
18    48.0
19    48.0
20    48.0
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: SiO2, dtype: float64, 0     0.66
1     0.66
2     0.66
3     0.66
4     0.66
5     0.66
6     0.66
7     0.66
8     0.66
9     0.66
10    0.66
11    0.66
12    0.66
13    0.66
14    0.66
15    0.66
16    0.66
17    0.66
18    0.66
19    0.66
20    0.66
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: TiO2, dtype: float64, 0     18.9
1     18.9
2     18.9
3     18.9
4     18.9
5     18.9
6     18.9
7     18.9
8     18.9
9     18.9
10    18.9
11    18.9
12    18.9
13    18.9
14    18.9
15    18.9
16    18.9
17    18.9
18    18.9
19    18.9
20    18.9
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: Al2O3, dtype: float64, 0     8.22
1     8.22
2     8.22
3     8.22
4     8.22
5     8.22
6     8.22
7     8.22
8     8.22
9     8.22
10    8.22
11    8.22
12    8.22
13    8.22
14    8.22
15    8.22
16    8.22
17    8.22
18    8.22
19    8.22
20    8.22
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: FeO, dtype: float64, 0     0.18
1     0.18
2     0.18
3     0.18
4     0.18
5     0.18
6     0.18
7     0.18
8     0.18
9     0.18
10    0.18
11    0.18
12    0.18
13    0.18
14    0.18
15    0.18
16    0.18
17    0.18
18    0.18
19    0.18
20    0.18
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: MnO, dtype: float64, 0     18.7
1     18.7
2     18.7
3     18.7
4     18.7
5     18.7
6     18.7
7     18.7
8     18.7
9     18.7
10    18.7
11    18.7
12    18.7
13    18.7
14    18.7
15    18.7
16    18.7
17    18.7
18    18.7
19    18.7
20    18.7
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: MgO, dtype: float64, 0     10.6
1     10.6
2     10.6
3     10.6
4     10.6
5     10.6
6     10.6
7     10.6
8     10.6
9     10.6
10    10.6
11    10.6
12    10.6
13    10.6
14    10.6
15    10.6
16    10.6
17    10.6
18    10.6
19    10.6
20    10.6
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: CaO, dtype: float64, 0     2.76
1     2.76
2     2.76
3     2.76
4     2.76
5     2.76
6     2.76
7     2.76
8     2.76
9     2.76
10    2.76
11    2.76
12    2.76
13    2.76
14    2.76
15    2.76
16    2.76
17    2.76
18    2.76
19    2.76
20    2.76
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: Na2O, dtype: float64, 0     0.11
1     0.11
2     0.11
3     0.11
4     0.11
5     0.11
6     0.11
7     0.11
8     0.11
9     0.11
10    0.11
11    0.11
12    0.11
13    0.11
14    0.11
15    0.11
16    0.11
17    0.11
18    0.11
19    0.11
20    0.11
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: K2O, dtype: float64]